<!--<mat-sidenav-content class="head-menu"></mat-sidenav-content>-->
<header>
    Alexander Alfimov presentation page
</header>
<nav>
    <mat-toolbar>About me</mat-toolbar>
    <button [matMenuTriggerFor]="menu"
            class="sidenav-toggle mat-button mat-button-base"
            mat-button="">
            <mat-icon aria-hidden="true"
                      class="mat-icon notranslate material-icons mat-icon-no-color"
                      role="img">
                menu
            </mat-icon>
    </button>

    <button [matMenuTriggerFor]="menu"
            class="mobile-menu"
            mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu"
              class="mobile-menu">
        <button mat-menu-item name="about-me">About me</button>
        <button mat-menu-item name="relationships">Relationships</button>
        <button mat-menu-item name="requirements">Requirements</button>
        <button mat-menu-item name="users">Users</button>
        <button mat-menu-item name="sign-up">Sign Up</button>
    </mat-menu>
</nav>


<!--<h1>Lorem Ipsum </h1>-->
<!--<h2>Lorem Ipsum </h2>-->
<!--<h3>Lorem Ipsum </h3>-->
<!--<h4>Lorem Ipsum </h4>-->
<!--<h5>Lorem Ipsum </h5>-->
